In [1]:
# Importing libraries 
import numpy as np
import pandas as pd

In [2]:
# Importing the dataset 
df = pd.read_csv('/Users/srinaren/Downloads/Luxury Housing Bangalore (1).csv')
df.head()

,Property_ID,Micro_Market,Project_Name,Developer_Name,Unit_Size_Sqft,Configuration,Ticket_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,Connectivity_Score,Amenity_Score,Possession_Status,Sales_Channel,NRI_Buyer,Locality_Infra_Score,Avg_Traffic_Time_Min,Buyer_Comments
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4bhk,12.750846039118798,Primary,NRI,2025-03-31,7.990091,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3Bhk,16.292151871065954,Primary,Other,2024-06-30,4.839024,NaN,Under construction,NRI Desk,no,7.723898,106,NaN
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4bhk,10.517724412961911,Primary,HNI,2023-12-31,8.131315,8.669227,Ready to move,Direct,yes,6.985493,113,Agent was not responsive.
3,PROP000004,bellary road,Project_3,Embassy,6192.0,3BHK,9.396367494232896,Primary,HNI,2024-03-31,7.501657,5.720246,Ready to move,Online,yes,6.100929,106,Excellent location!
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4Bhk,15.345392444511946,Secondary,HNI,2024-12-31,4.525216,8.609649,Under construction,Broker,no,5.312510,18,Too far from my office.

In [3]:
# General Information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101000 entries, 0 to 100999
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Property_ID           101000 non-null  object
 1   Micro_Market          101000 non-null  object
 2   Project_Name          101000 non-null  object
 3   Developer_Name        101000 non-null  object
 4   Unit_Size_Sqft        90954 non-null   float64
 5   Configuration         101000 non-null  object
 6   Ticket_Price_Cr       90981 non-null   object
 7   Transaction_Type      101000 non-null  object
 8   Buyer_Type            101000 non-null  object
 9   Purchase_Quarter      101000 non-null  object
 10  Connectivity_Score    101000 non-null  float64
 11  Amenity_Score         90910 non-null   float64
 12  Possession_Status     101000 non-null  object
 13  Sales_Channel         101000 non-null  object
 14  NRI_Buyer             101000 non-null  object
 15  Locality_Infra_Score  101000 non-null  float64
 16  Avg_Traffic_Time_Min  101000 non-null  int64
 17  Buyer_Comments        82713 non-null   object
dtypes: float64(4), int64(1), object(13)
memory usage: 13.9+ MB

In [4]:
# Shape
df.shape

(101000, 18)

In [5]:
# Missing values
df.isna().sum()

Property_ID                 0
Micro_Market                0
Project_Name                0
Developer_Name              0
Unit_Size_Sqft          10046
Configuration               0
Ticket_Price_Cr         10019
Transaction_Type            0
Buyer_Type                  0
Purchase_Quarter            0
Connectivity_Score          0
Amenity_Score           10090
Possession_Status           0
Sales_Channel               0
NRI_Buyer                   0
Locality_Infra_Score        0
Avg_Traffic_Time_Min        0
Buyer_Comments          18287
dtype: int64

In [6]:
# Basic summary statistics
df.describe()

,Unit_Size_Sqft,Connectivity_Score,Amenity_Score,Locality_Infra_Score,Avg_Traffic_Time_Min
count,90954.000000,101000.000000,90910.000000,101000.000000,101000.000000
mean,5972.274765,6.992619,7.503663,7.498426,67.182921
std,1783.397836,1.731757,1.440758,1.443128,30.271611
min,-1.000000,4.000031,5.000224,5.000013,15.000000
25%,4477.250000,5.494526,6.260329,6.247954,41.000000
50%,5990.000000,6.985805,7.499123,7.495614,67.000000
75%,7497.000000,8.490000,8.752207,8.749824,93.000000
max,8999.000000,9.999970,9.999865,9.999956,119.000000

In [7]:
# Duplicate record check
df.duplicated().sum()

np.int64(1000)

In [8]:
# Remove duplicate rows
df = df.drop_duplicates()
df.duplicated().sum()

np.int64(0)

In [9]:
# Strip whitespace from column names
df.columns = df.columns.str.strip()

In [10]:
# Unique value
for col in df.columns:
    print(f"\n{col}:")
    print(df[col].unique())

Property_ID:
['PROP000001' 'PROP000002' 'PROP000003' ... 'PROP099998' 'PROP099999'
 'PROP100000']

Micro_Market:
['Sarjapur Road' 'Indiranagar' 'Bannerghatta Road' 'bellary road'
 'Koramangala' 'YELAHANKA' 'whitefield' 'sarjapur road' 'JP NAGAR'
 'Rajajinagar' 'koramangala' 'WHITEFIELD' 'indiranagar' 'jayanagar'
 'Whitefield' 'DOMLUR' 'yelahanka' 'Mg Road' 'HENNUR ROAD' 'Jayanagar'
 'Domlur' 'Electronic City' 'Hebbal' 'mg road' 'jp nagar'
 'BANNERGHATTA ROAD' 'MG ROAD' 'KANAKAPURA ROAD' 'HEBBAL' 'BELLARY ROAD'
 'electronic city' 'ELECTRONIC CITY' 'Bellary Road' 'Hennur Road'
 'rajajinagar' 'Kanakapura Road' 'INDIRANAGAR' 'hennur road'
 'kanakapura road' 'domlur' 'bannerghatta road' 'RAJAJINAGAR' 'hebbal'
 'Yelahanka' 'SARJAPUR ROAD' 'KORAMANGALA' 'Jp Nagar' 'JAYANAGAR']

Project_Name:
['Project_0' 'Project_1' 'Project_2' 'Project_3' 'Project_4' 'Project_5'
 'Project_6' 'Project_7' 'Project_8' 'Project_9' 'Project_10' 'Project_11'
 'Project_12' 'Project_13' 'Project_14' 'Project_15' 'Project_16'
 'Project_17' 'Project_18' 'Project_19' 'Project_20' 'Project_21'
 'Project_22' 'Project_23' 'Project_24' 'Project_25' 'Project_26'
 'Project_27' 'Project_28' 'Project_29' 'Project_30' 'Project_31'
 'Project_32' 'Project_33' 'Project_34' 'Project_35' 'Project_36'
 'Project_37' 'Project_38' 'Project_39' 'Project_40' 'Project_41'
 'Project_42' 'Project_43' 'Project_44' 'Project_45' 'Project_46'
 'Project_47' 'Project_48' 'Project_49' 'Project_50' 'Project_51'
 'Project_52' 'Project_53' 'Project_54' 'Project_55' 'Project_56'
 'Project_57' 'Project_58' 'Project_59' 'Project_60' 'Project_61'
 'Project_62' 'Project_63' 'Project_64' 'Project_65' 'Project_66'
 'Project_67' 'Project_68' 'Project_69' 'Project_70' 'Project_71'
 'Project_72' 'Project_73' 'Project_74' 'Project_75' 'Project_76'
 'Project_77' 'Project_78' 'Project_79' 'Project_80' 'Project_81'
 'Project_82' 'Project_83' 'Project_84' 'Project_85' 'Project_86'
 'Project_87' 'Project_88' 'Project_89' 'Project_90' 'Project_91'
 'Project_92' 'Project_93' 'Project_94' 'Project_95' 'Project_96'
 'Project_97' 'Project_98' 'Project_99' 'Project_100' 'Project_101'
 'Project_102' 'Project_103' 'Project_104' 'Project_105' 'Project_106'
 'Project_107' 'Project_108' 'Project_109' 'Project_110' 'Project_111'
 'Project_112' 'Project_113' 'Project_114' 'Project_115' 'Project_116'
 'Project_117' 'Project_118' 'Project_119' 'Project_120' 'Project_121'
 'Project_122' 'Project_123' 'Project_124' 'Project_125' 'Project_126'
 'Project_127' 'Project_128' 'Project_129' 'Project_130' 'Project_131'
 'Project_132' 'Project_133' 'Project_134' 'Project_135' 'Project_136'
 'Project_137' 'Project_138' 'Project_139' 'Project_140' 'Project_141'
 'Project_142' 'Project_143' 'Project_144' 'Project_145' 'Project_146'
 'Project_147' 'Project_148' 'Project_149' 'Project_150' 'Project_151'
 'Project_152' 'Project_153' 'Project_154' 'Project_155' 'Project_156'
 'Project_157' 'Project_158' 'Project_159' 'Project_160' 'Project_161'
 'Project_162' 'Project_163' 'Project_164' 'Project_165' 'Project_166'
 'Project_167' 'Project_168' 'Project_169' 'Project_170' 'Project_171'
 'Project_172' 'Project_173' 'Project_174' 'Project_175' 'Project_176'
 'Project_177' 'Project_178' 'Project_179' 'Project_180' 'Project_181'
 'Project_182' 'Project_183' 'Project_184' 'Project_185' 'Project_186'
 'Project_187' 'Project_188' 'Project_189' 'Project_190' 'Project_191'
 'Project_192' 'Project_193' 'Project_194' 'Project_195' 'Project_196'
 'Project_197' 'Project_198' 'Project_199' 'Project_200' 'Project_201'
 'Project_202' 'Project_203' 'Project_204' 'Project_205' 'Project_206'
 'Project_207' 'Project_208' 'Project_209' 'Project_210' 'Project_211'
 'Project_212' 'Project_213' 'Project_214' 'Project_215' 'Project_216'
 'Project_217' 'Project_218' 'Project_219' 'Project_220' 'Project_221'
 'Project_222' 'Project_223' 'Project_224' 'Project_225' 'Project_226'
 'Project_227' 'Project_228' 'Project_229' 'Project_230' 'Project_231'
 'Project_232' 'Project_233' 'Project_234' 'Project_235' 'Project_236'
 'Project_237' 'Project_238' 'Project_239' 'Project_240' 'Project_241'
 'Project_242' 'Project_243' 'Project_244' 'Project_245' 'Project_246'
 'Project_247' 'Project_248' 'Project_249' 'Project_250' 'Project_251'
 'Project_252' 'Project_253' 'Project_254' 'Project_255' 'Project_256'
 'Project_257' 'Project_258' 'Project_259' 'Project_260' 'Project_261'
 'Project_262' 'Project_263' 'Project_264' 'Project_265' 'Project_266'
 'Project_267' 'Project_268' 'Project_269' 'Project_270' 'Project_271'
 'Project_272' 'Project_273' 'Project_274' 'Project_275' 'Project_276'
 'Project_277' 'Project_278' 'Project_279' 'Project_280' 'Project_281'
 'Project_282' 'Project_283' 'Project_284' 'Project_285' 'Project_286'
 'Project_287' 'Project_288' 'Project_289' 'Project_290' 'Project_291'
 'Project_292' 'Project_293' 'Project_294' 'Project_295' 'Project_296'
 'Project_297' 'Project_298' 'Project_299' 'Project_300' 'Project_301'
 'Project_302' 'Project_303' 'Project_304' 'Project_305' 'Project_306'
 'Project_307' 'Project_308' 'Project_309' 'Project_310' 'Project_311'
 'Project_312' 'Project_313' 'Project_314' 'Project_315' 'Project_316'
 'Project_317' 'Project_318' 'Project_319' 'Project_320' 'Project_321'
 'Project_322' 'Project_323' 'Project_324' 'Project_325' 'Project_326'
 'Project_327' 'Project_328' 'Project_329' 'Project_330' 'Project_331'
 'Project_332' 'Project_333' 'Project_334' 'Project_335' 'Project_336'
 'Project_337' 'Project_338' 'Project_339' 'Project_340' 'Project_341'
 'Project_342' 'Project_343' 'Project_344' 'Project_345' 'Project_346'
 'Project_347' 'Project_348' 'Project_349' 'Project_350' 'Project_351'
 'Project_352' 'Project_353' 'Project_354' 'Project_355' 'Project_356'
 'Project_357' 'Project_358' 'Project_359' 'Project_360' 'Project_361'
 'Project_362' 'Project_363' 'Project_364' 'Project_365' 'Project_366'
 'Project_367' 'Project_368' 'Project_369' 'Project_370' 'Project_371'
 'Project_372' 'Project_373' 'Project_374' 'Project_375' 'Project_376'
 'Project_377' 'Project_378' 'Project_379' 'Project_380' 'Project_381'
 'Project_382' 'Project_383' 'Project_384' 'Project_385' 'Project_386'
 'Project_387' 'Project_388' 'Project_389' 'Project_390' 'Project_391'
 'Project_392' 'Project_393' 'Project_394' 'Project_395' 'Project_396'
 'Project_397' 'Project_398' 'Project_399' 'Project_400' 'Project_401'
 'Project_402' 'Project_403' 'Project_404' 'Project_405' 'Project_406'
 'Project_407' 'Project_408' 'Project_409' 'Project_410' 'Project_411'
 'Project_412' 'Project_413' 'Project_414' 'Project_415' 'Project_416'
 'Project_417' 'Project_418' 'Project_419' 'Project_420' 'Project_421'
 'Project_422' 'Project_423' 'Project_424' 'Project_425' 'Project_426'
 'Project_427' 'Project_428' 'Project_429' 'Project_430' 'Project_431'
 'Project_432' 'Project_433' 'Project_434' 'Project_435' 'Project_436'
 'Project_437' 'Project_438' 'Project_439' 'Project_440' 'Project_441'
 'Project_442' 'Project_443' 'Project_444' 'Project_445' 'Project_446'
 'Project_447' 'Project_448' 'Project_449' 'Project_450' 'Project_451'
 'Project_452' 'Project_453' 'Project_454' 'Project_455' 'Project_456'
 'Project_457' 'Project_458' 'Project_459' 'Project_460' 'Project_461'
 'Project_462' 'Project_463' 'Project_464' 'Project_465' 'Project_466'
 'Project_467' 'Project_468' 'Project_469' 'Project_470' 'Project_471'
 'Project_472' 'Project_473' 'Project_474' 'Project_475' 'Project_476'
 'Project_477' 'Project_478' 'Project_479' 'Project_480' 'Project_481'
 'Project_482' 'Project_483' 'Project_484' 'Project_485' 'Project_486'
 'Project_487' 'Project_488' 'Project_489' 'Project_490' 'Project_491'
 'Project_492' 'Project_493' 'Project_494' 'Project_495' 'Project_496'
 'Project_497' 'Project_498' 'Project_499']

Developer_Name:
['RMZ' 'Puravankara' 'Tata Housing' 'Embassy' 'SNN Raj' 'Brigade'
 'Prestige' 'Total Environment' 'Godrej' 'L&T Realty' 'Sobha']

Unit_Size_Sqft:
[4025. 5760. 7707. ... 3000. 3238. 5432.]

Configuration:
['4bhk' '3Bhk' '3BHK' '4Bhk' '5BHK+' '4BHK' '5bhk+' '5Bhk+' '3bhk']

Ticket_Price_Cr:
['12.750846039118798' '16.292151871065954' '10.517724412961911' ...
 '13.730178633219271' '10.363988981166342' '10.415616832095246']

Transaction_Type:
['Primary' 'Secondary']

Buyer_Type:
['NRI' 'Other' 'HNI' 'CXO' 'Startup Founder']

Purchase_Quarter:
['2025-03-31' '2024-06-30' '2023-12-31' '2024-03-31' '2024-12-31'
 '2023-09-30' '2024-09-30' '2023-06-30']

Connectivity_Score:
[7.99009059 4.83902377 8.13131488 ... 6.19334714 9.43564628 5.78629175]

Amenity_Score:
[5.46286299        nan 8.66922724 ... 7.48247301 6.36927632 5.28402643]

Possession_Status:
['Launch' 'Under construction' 'Ready to move']

Sales_Channel:
['Broker' 'NRI Desk' 'Direct' 'Online']

NRI_Buyer:
['yes' 'no']

Locality_Infra_Score:
[9.21249094 7.72389833 6.98549299 ... 8.98499019 7.63471681 6.03994292]

Avg_Traffic_Time_Min:
[ 18 106 113  16  74  31  68 102  52  46  55  33  70  77 118 116  58  32
  51  56  43  65 105  27  34  95  60  64  38  42  37  93  72 111  19  63
  57  73  53  20  35 100 107  17  80  30  69  84  25 112  67  39  50 114
  47 101  23  66  78  71  44  85 104  40  99  91  79  29  97  76  41  98
  62  75  24  54 108  94  26  48  36  88 119  96 103  83 109  15  61  81
  45 117  92  87  82  21  59  22  86  49  90  28 115  89 110]

Buyer_Comments:
['Loved the amenities!' nan 'Agent was not responsive.'
 'Excellent location!' 'Too far from my office.'
 'Underpriced for location.' 'Will buy after possession.'
 'Great value for money.' 'Connectivity is poor.'
 'Great view from 15th floor.']

In [11]:
# Standard categorical columns
text_cols = [
    "Micro_Market",
    "Developer_Name",
    "Transaction_Type",
    "Buyer_Type",
    "Sales_Channel",
    "Possession_Status"
]

for col in text_cols:
    df[col] = (
        df[col]
        .astype(str)
        .str.strip()
        .str.title()
    )

In [12]:
# Cleaning Configuration
df["Configuration"] = (
    df["Configuration"]
    .astype(str)
    .str.strip()
    .str.upper()
    .str.replace(" ", "", regex=False)
)

In [13]:
# Remove currency symbols and text from Ticket_Price_Cr
df["Ticket_Price_Cr"] = (
    df["Ticket_Price_Cr"]
    .astype(str)
    .str.replace("â‚¹", "", regex=False)
    .str.replace(",", "", regex=False)
    .str.replace("cr", "", case=False, regex=True)
    .str.strip()
)

In [14]:
# Convert Ticket_Price_Cr to numeric
df['Ticket_Price_Cr'] = pd.to_numeric(
    df['Ticket_Price_Cr'],
    errors='coerce'
)

In [15]:
# Fill missing values for Ticket_Price_Cr
df['Ticket_Price_Cr'] = (
    df['Ticket_Price_Cr']
        .fillna(
            df.groupby(['Micro_Market', 'Configuration'])['Ticket_Price_Cr']
              .transform('median')
        )
        .fillna(df['Ticket_Price_Cr'].median())
)

In [16]:
# Fill missing values for Unit_Size_Sqft
df['Unit_Size_Sqft'] = (
    df['Unit_Size_Sqft']
        .fillna(df.groupby('Configuration')['Unit_Size_Sqft'].transform('median'))
        .fillna(df['Unit_Size_Sqft'].median())
)

In [17]:
# Fill missing values for Amenity_Score
df['Amenity_Score'] = (
    df['Amenity_Score']
        .fillna(df.groupby('Configuration')['Amenity_Score'].transform('median'))
        .fillna(df['Amenity_Score'].median())
)

In [18]:
# Fix Buyer_Comments 
df['Buyer_Comments'] = df['Buyer_Comments'].fillna('No Comments')

In [19]:
# Convert Purchase_Quarter to datetime
df['Purchase_Quarter'] = pd.to_datetime(df['Purchase_Quarter'])

In [20]:
# Feature Engineering

In [21]:
# Create time features
df['Year'] = df['Purchase_Quarter'].dt.year
df['Quarter'] = df['Purchase_Quarter'].dt.to_period('Q').astype(str)
df['Quarter_Number'] = df['Purchase_Quarter'].dt.quarter

In [34]:
# Quick check
df[['Year','Quarter','Quarter_Number']].head()

   Year Quarter  Quarter_Number
0  2025  2025Q1               1
1  2024  2024Q2               2
2  2023  2023Q4               4
3  2024  2024Q1               1
4  2024  2024Q4               4

In [23]:
# Price_per_Sqft
df['Price_per_Sqft'] = (df['Ticket_Price_Cr'] * 1e7) / df['Unit_Size_Sqft']

In [33]:
# Quick check
df[['Ticket_Price_Cr','Unit_Size_Sqft','Price_per_Sqft']].head()

   Ticket_Price_Cr  Unit_Size_Sqft  Price_per_Sqft
0        12.750846          4025.0    31679.120594
1        16.292152          5760.0    28284.985887
2        10.517724          7707.0    13646.976013
3         9.396367          6192.0    15175.012103
4        15.345392          7147.0    21471.096187

In [28]:
df['Transaction_Type'].unique()

array(['Primary', 'Secondary'], dtype=object)

In [30]:
# Create booking flag based on transaction type
df["Booking_Flag"] = df["Transaction_Type"].map(
    {"Primary": 1, "Secondary": 0}
)

In [35]:
# Quick check
df[["Transaction_Type","Booking_Flag"]].head(10)

  Transaction_Type  Booking_Flag
0          Primary             1
1          Primary             1
2          Primary             1
3          Primary             1
4        Secondary             0
5        Secondary             0
6        Secondary             0
7        Secondary             0
8        Secondary             0
9          Primary             1

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 0 to 99999
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Property_ID           100000 non-null  object
 1   Micro_Market          100000 non-null  object
 2   Project_Name          100000 non-null  object
 3   Developer_Name        100000 non-null  object
 4   Unit_Size_Sqft        100000 non-null  float64
 5   Configuration         100000 non-null  object
 6   Ticket_Price_Cr       100000 non-null  float64
 7   Transaction_Type      100000 non-null  object
 8   Buyer_Type            100000 non-null  object
 9   Purchase_Quarter      100000 non-null  datetime64[ns]
 10  Connectivity_Score    100000 non-null  float64
 11  Amenity_Score         100000 non-null  float64
 12  Possession_Status     100000 non-null  object
 13  Sales_Channel         100000 non-null  object
 14  NRI_Buyer             100000 non-null  object
 15  Locality_Infra_Score  100000 non-null  float64
 16  Avg_Traffic_Time_Min  100000 non-null  int64
 17  Buyer_Comments        100000 non-null  object
 18  Year                  100000 non-null  int32
 19  Quarter               100000 non-null  object
 20  Quarter_Number        100000 non-null  int32
 21  Price_per_Sqft        100000 non-null  float64
 22  Booking_Flag          100000 non-null  int64
dtypes: datetime64[ns](1), float64(6), int32(2), int64(2), object(12)
memory usage: 17.5+ MB

In [39]:
from sqlalchemy import create_engine

engine = create_engine(
    "mysql+pymysql://root:srinaren@localhost:3306/realestate"
)

try:
    engine.connect()
    print("SQLAlchemy engine connected")
except:
    print("Connection failed")

SQLAlchemy engine connected

In [40]:
from sqlalchemy import text

create_table_query = """
CREATE TABLE IF NOT EXISTS luxury_housing_bangalore (
    Property_ID VARCHAR(20) PRIMARY KEY,
    Micro_Market VARCHAR(100),
    Project_Name VARCHAR(100),
    Developer_Name VARCHAR(100),
    Unit_Size_Sqft FLOAT,
    Configuration VARCHAR(20),
    Ticket_Price_Cr FLOAT,
    Price_per_Sqft FLOAT,
    Transaction_Type VARCHAR(20),
    Booking_Flag INT,
    Buyer_Type VARCHAR(50),
    NRI_Buyer VARCHAR(10),
    Purchase_Quarter DATE,
    Year INT,
    Quarter VARCHAR(10),
    Quarter_Number INT,
    Connectivity_Score FLOAT,
    Amenity_Score FLOAT,
    Locality_Infra_Score FLOAT,
    Avg_Traffic_Time_Min INT,
    Possession_Status VARCHAR(50),
    Sales_Channel VARCHAR(50),
    Buyer_Comments TEXT
);
"""

with engine.connect() as conn:
    conn.execute(text(create_table_query))

print("Table created")

Table created

In [41]:
# Inserting the data
df.to_sql(
    name='luxury_housing_bangalore',
    con=engine,
    if_exists='append',
    index=False,
    chunksize=5000
)

100000

In [45]:
# Total Record Count
query = """
SELECT COUNT(*) AS total_records
FROM luxury_housing_bangalore;
"""

pd.read_sql(query, engine)

   total_records
0         100000

In [62]:
# Booking Distribution
query_booking = """
SELECT Booking_Flag, COUNT(*) AS total_transactions
FROM luxury_housing_bangalore
GROUP BY Booking_Flag;
"""

pd.read_sql(query_booking, engine)

   Booking_Flag  total_transactions
0             1               50013
1             0               49987

In [63]:
# Builder Performance
query_builder = """
SELECT
Developer_Name,
ROUND(SUM(Ticket_Price_Cr), 2) AS total_revenue_cr,
ROUND(AVG(Ticket_Price_Cr), 2) AS avg_ticket_price_cr
FROM luxury_housing_bangalore
GROUP BY Developer_Name
ORDER BY total_revenue_cr DESC;
"""

pd.read_sql(query_builder, engine)

       Developer_Name  total_revenue_cr  avg_ticket_price_cr
0            Prestige         116749.28                12.66
1   Total Environment         116225.83                12.75
2          L&T Realty         116064.63                12.72
3             Snn Raj         115806.08                12.55
4              Godrej         115779.03                12.69
5         Puravankara         114952.07                12.66
6               Sobha         114648.25                12.80
7             Brigade         114517.52                12.54
8                 Rmz         114070.69                12.66
9             Embassy         113796.45                12.54
10       Tata Housing         112536.69                12.60

In [58]:
# Micro-Market Conversion
query_market = """
SELECT
    Micro_Market,
    ROUND(AVG(Booking_Flag) * 100,2) AS conversion_rate
FROM luxury_housing_bangalore
GROUP BY Micro_Market
ORDER BY conversion_rate DESC;
"""

pd.read_sql(query_market, engine)

         Micro_Market  conversion_rate
0     Kanakapura Road            51.32
1         Indiranagar            50.76
2         Koramangala            50.66
3   Bannerghatta Road            50.46
4              Hebbal            50.37
5            Jp Nagar            50.32
6         Rajajinagar            50.12
7             Mg Road            49.95
8           Jayanagar            49.87
9     Electronic City            49.86
10         Whitefield            49.78
11       Bellary Road            49.69
12        Hennur Road            49.63
13      Sarjapur Road            49.49
14             Domlur            49.05
15          Yelahanka            48.88

In [64]:
# Quarterly Trend
query_quarter = """
SELECT
Quarter,
SUM(Booking_Flag) AS total_bookings,
ROUND(SUM(Ticket_Price_Cr), 2) AS total_revenue_cr
FROM luxury_housing_bangalore
GROUP BY Quarter
ORDER BY Quarter;
"""

pd.read_sql(query_quarter, engine)

  Quarter  total_bookings  total_revenue_cr
0  2023Q2          6269.0         159221.61
1  2023Q3          6229.0         157531.13
2  2023Q4          6244.0         157818.37
3  2024Q1          6237.0         158572.58
4  2024Q2          6203.0         158494.15
5  2024Q3          6375.0         158924.45
6  2024Q4          6221.0         157642.36
7  2025Q1          6235.0         156941.85

In [54]:
df.to_csv(
    "/Users/srinaren/Desktop/luxury_housing.csv",
    index=False
)